<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="style.scss">
</head>
<body>
    <div >
        <div><img src="minacademyLogo.svg" alt="Logo-MinAcademy"></div>
        <div class="backgound__email">
            <div class="box_text"> 
                <h1>Redefinição de senha</h1>
                <p>Você solicitou a redefinição de senha. Click <a href="">aqui</a> para redefinila.</p>
            </div>
        </div>

    </div>
    
</body>
</html>