name: Continuous Integration - PR's Tests

on:
  pull_request:

jobs:

  lint:
    name: Run Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Modules
        working-directory: server
        run: npm install
      - name: ESLint
        env:
          CI: true
        run: npm run lint

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Modules
      working-directory: server
      run: npm install
    - name: Run Tests
      working-directory: server
      run: npm test